@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "sans-serif";
    --generics-color: theme("colors.orange.100");
    --generics-backgroundColor: theme("colors.black");
  }

  .theme-light {
    --generics-color: theme("colors.black");
    --generics-backgroundColor: theme("colors.orange.100");
  }

  .theme-dark {
    --generics-color: theme("colors.orange.100");
    --generics-backgroundColor: theme("colors.black");
  }

  body {
    color: var(--generics-color);
    background-color: var(--generics-backgroundColor);
  }
}
@layer components {
  /* 自定义字体 */
  @font-face {
    font-family: "Mnxy";
    src: url("@/assets/fonts/蒙纳简喜宴体P.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}
