/* 自定义字体 */
@font-face {
  font-family: 'Mnxy';
  src: url('@/assets/fonts/蒙纳简喜宴体P.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --generics-color: theme("colors.orange.100");
    --generics-backgroundColor: theme("colors.black");
  }

  .theme-light {
    --generics-color: theme("colors.gray.500");
    --generics-backgroundColor: theme("colors.black");
  }

  .theme-dark {
    --generics-color: theme("colors.gray.500");
    --generics-backgroundColor: theme("colors.black");
  }

  body {
    color: var(--generics-color);
    background-color: var(--generics-backgroundColor);
  }
}